[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dummy-token"]
	path = lib/dummy-token
	url = https://github.com/clio-finance/dummy-token
